@page "/logger"
@inject ILogger<Logger> logger

<RadzenTabs RenderMode="TabRenderMode.Client" TabPosition="TabPosition.Top">
    <Tabs>
        <RadzenTabsItem Text="Log">
            <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem" Class="rz-mt-4 rz-p-4 rz-border-radius-1" Style="border: var(--rz-grid-cell-border)">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                    <RadzenText TextStyle="TextStyle.Subtitle1" Class="rz-m-0">Console log</RadzenText>
                    <RadzenButton Click=@RefreshLog Text="Refresh" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Small" />
                </RadzenStack>

                <RadzenStack Orientation="Orientation.Vertical" Gap="0" ID="event-console" Class="rz-pt-1"
                             Style="border-top: var(--rz-grid-cell-border); min-height: 2rem; overflow: auto;">
                    @if (consoleLog != null)
                    {
                        <RadzenTextArea Disabled Rows="20" class="w-100" Value="@consoleLog"></RadzenTextArea>
                    }
                </RadzenStack>
            </RadzenStack>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Archive">

            <RadzenRow>
                <RadzenListBox style="width: 100%" @bind-Value=@value Data=@fileList Change="@(args => fileAction(value))" />
            </RadzenRow>

            @if (value != null)
            {
                <hr />
             
                <RadzenRow JustifyContent="JustifyContent.End">
                    <p>Selected File: @value</p>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Icon="delete" Text="Delete" Click="DeleteFile"></RadzenButton>
                </RadzenRow>
                <hr />
                <RadzenTextArea Rows="20" class="w-100" Value="@textOfFile"></RadzenTextArea>

            }

        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>



@code {

    [Inject]
    public IUtilityServices? _utilityService { get; set; }

    string? textInput;
    string? path;
    string? value;
    IList<string>? fileList;
    string? textOfFile;
    string? consoleLog;

    protected override void OnInitialized()
    {
        LoadLogText();
        ListFileInDir(FileSystem.Current.CacheDirectory);
    }

    protected void LoadLogText()
    {
        var logFileName = Path.Combine(FileSystem.Current.CacheDirectory, $"serilog_{DateTime.Now.ToString("yyyyMMdd")}.log");

        try
        {
            consoleLog = File.ReadAllText(logFileName);

        }
        catch (Exception ex)
        {
            logger.LogError($"Reading log file error: {ex.Message}");

        }


    }

    public void RefreshLog()
    {
        LoadLogText();
    }

    private async Task<string> ReadFile(string filePath, string fileName)
    {
        try
        {

            string fileToRead = System.IO.Path.Combine(filePath, fileName);

            using Stream fileStream = System.IO.File.OpenRead(fileToRead);
            using StreamReader reader = new StreamReader(fileStream);
            return await reader.ReadToEndAsync();


        }
        catch (Exception ex)
        {
            logger.LogError($"Error reading file: {ex.Message}");
            return string.Empty;

        }
    }

    private async Task<string> AppendFile(string filePath, string fileName, string text)
    {
        //read file
        var textRead = await ReadFile(filePath, fileName);

        var textToWrite = textRead + System.Environment.NewLine + text;

        //write

        WriteFile(filePath, fileName, textToWrite);

        return textToWrite;

    }

    private async void WriteFile(string filePath, string fileName, string text)
    {
        try
        {
            // Write the file content to the app data directory
            string targetFile = System.IO.Path.Combine(filePath, fileName);

            using FileStream outputStream = System.IO.File.OpenWrite(targetFile);
            using StreamWriter streamWriter = new StreamWriter(outputStream);

            await streamWriter.WriteAsync(textInput);

        }
        catch (Exception ex)
        {
            logger.LogError($"File Not written: {ex.Message}");
        }
    }

    protected void ListFileInDir(string _path)
    {
        path = _path;
        var _fileList = Directory.GetFiles(path);

        fileList = new List<string>();
        for (int i = 0; i < _fileList.Length; i++)
        {
            string[] words = _fileList[i].ToString().Split('/');

            var lastIndex = words.Length;

            fileList.Add(words[lastIndex - 1].ToString());
        }

    }

    private void fileAction(string fileName)
    {
        if (path != null && value != null)
        {
            textOfFile = File.ReadAllText(Path.Combine(path, fileName));
        }
        else
        {
            logger.LogError($"Reading file: Path of file name are null");
        }

    }

    private void DeleteFile()
    {
        if (path != null && value != null)
        {
            var _fileToDelete = Path.Combine(path, value);

            try
            {
                File.Delete(_fileToDelete);
                ListFileInDir(path);
                value = null;
                logger.LogInformation($"File {value} deleted");
            }
            catch (Exception ex)
            {
                logger.LogError($"File Not deleted: {ex.Message}");
            }
        }
        else
        {
            logger.LogError($"Deleting file: Path of file name are null");

        }



    }
}
